
<table border="1">
  <th>Wanderer</th>
  <th>Dungeon</th>
  <th>Score</th>
  <th>Killed by</th>
  <th>Level</th>
  <th>Experience</th>
  <th>Hit Points</th>
  <th>Strength</th>
  <th>Gitans</th>
  <th>Sword</th>
  <th>Shield</th>
  <th>Armband</th>
  <th>Complete?</th>
  
  <tr>
      <td> <p>  user data </p></td>
      <td> <p> <%= @run.dungeon %></p></td>
      <td> <p> <%= @run.score %></p></td>
      <td> <p> <%= @run.killed_by%></p></td>
      <td> <p> <%= @run.level %></p></td>
      <td> <p> <%= @run.experience %></p></td>
      <td> <p> <%= @run.hitpoints%></p></td>
      <td> <p> <%= @run.strength%></p></td>
      <td> <p> <%= @run.gitans %></p></td>
      <td> <p> <%= @run.sword %></p></td>
      <td> <p> <%= @run.shield%></p></td>
      <td> <p> <%= @run.armband %></p></td>
      <td> <p> <%= @run.complete ? "Yes" : "No" %></p></td>
  </tr>
</table>

<%= @data %>
